<div class="container">
  <div class="row">
    <div class="col-6">
      <h3>Please click button to see random questions</h3>
      <button class="pull-left btn btn-success" (click)="randomAction()">Random</button>
      <div class="row" *ngFor="let question of questions">
        <div class="card card-block">
          <h4 class="card-title">The question is {{ question.question}}</h4>
          <p class="card-title">Answer is {{ question.answer }}</p>
        </div>
      </div>
    </div>

    <div class="col-6">
      <h3>Please click button to see categories</h3>
      <button class="pull-right btn btn-success" (click)="displayCategoryAction()">displayCategory</button>
      <table class="table">
        <tr>
          <td>title</td>
          <td>clues_count</td>
        </tr>
       <tr *ngFor="let category of categories">
        <td>{{ category.title}}</td>
        <td>{{ category.clues_count }}</td>
       </tr>
      </table>
    </div>
  </div>
</div>